body{
    background-color: ivory ;
}
table {
    background-color: darkgrey ;
    border: 1px solid #000;
    width: 40%;
 }
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    padding: 0.1em;
 }
 caption {
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
 }

 .title th, .title td {
    background: chocolate;
 }
 .even th, .even td {
    background: #eee;
 }